h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;  
}

body {
  
  font-family: Roboto, sans-serif;
}

// body.modal-open {
//   overflow: hidden;
// }

.section {
   padding-bottom: 120px ;
}

.section_top-padding {
  padding-top: 120px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0px;
}

address {
  font-style: normal;
}

// .title {
//   // color: $title-color;
// }

.container {  
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  min-width: 270px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

