<section class="accessories section">
  <div class="container accessories_container">
    <div class="buttons">
      <ul class="buttons__list list">
        <li class="buttons__item">
          <button class="buttons__btn btn" type="button">All</button>
        </li>
        <li class="buttons__item">
          <button class="buttons__btn btn" type="button">Headsets</button>
        </li>
        <li class="buttons__item">
          <button class="buttons__btn btn" type="button">Keyboards</button>
        </li>
        <li class="buttons__item">
          <button class="buttons__btn btn" type="button">Mouses</button>
        </li>
      </ul>
    </div>
    <div class="all-accessories">
      <h2 class="all-accessories__title">All accessories</h2>

      <div class="line">
        <div class="line__320">
          <svg viewBox="0 0 320 12">
            <polyline
              class="line1"
              points="0,9 184,9 184,1 480,1"
              fill="none"
              stroke="#7BE34A"
              stroke-width="1"
            />
            <polyline
              class="line2"
              points="0,12 187,12 187,5 480,5"
              fill="none"
              stroke="#28780D"
              stroke-width="1"
            />
          </svg>
        </div>
        <div class="line__mob">
          <svg viewBox="0 0 480 12">
            <polyline
              class="line1"
              points="0,9 184,9 184,1 480,1"
              fill="none"
              stroke="#7BE34A"
              stroke-width="1"
            />
            <polyline
              class="line2"
              points="0,12 187,12 187,5 480,5"
              fill="none"
              stroke="#28780D"
              stroke-width="1"
            />
          </svg>
        </div>

        <div class="line__tab">
          <svg viewBox="0 0 768 28">
            <polyline
              class="line1"
              points="0,20 547,20 547,1 768,1"
              fill="none"
              stroke="#7BE34A"
              stroke-width="1"
            />
            <polyline
              class="line2"
              points="0,28 555,28 555,9 768,9"
              fill="none"
              stroke="#28780D"
              stroke-width="1"
            />
          </svg>
        </div>

        <div class="line__desk">
          <svg viewBox="0 0 1280 28">
            <polyline
              class="line1"
              points="0,20 532,20 532,1 1280,1"
              fill="none"
              stroke="#7BE34A"
              stroke-width="1"
            />
            <polyline
              class="line2"
              points="0,28 540,28 540,9 1280,9"
              fill="none"
              stroke="#28780D"
              stroke-width="1"
            />
          </svg>
        </div>
      </div>

      <ul class="cards list">
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PROPC-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PROPC-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PROPC-tab-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PROPC-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PROPC-mob-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PROPC-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/XiberiaK9PROPC-1x.jpg"
                  alt="Xiberia K9 PRO PC Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">Xiberia K9 PRO PC Headset</h2>
                <div class="card-price">
                  <span class="card-price__item">65.14 USD</span
                  ><span class="card-price__item">55.14 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">65.14 USD</li>
                  <li class="card-price__item">55.14 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/G95LightSurroundGamingHeadset-1x.jpg 1x,
                    ./images/kruglyak/G95LightSurroundGamingHeadset-1x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/G95LightSurroundGamingHeadset-tab-1x.jpg 1x,
                    ./images/kruglyak/G95LightSurroundGamingHeadset-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/G95LightSurroundGamingHeadset-mob-1x.jpg 1x,
                    ./images/kruglyak/G95LightSurroundGamingHeadset-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/G95LightSurroundGamingHeadset-1x.jpg"
                  alt="G95 Light Surround Gaming Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
              <!-- <p class="cover-container__text">/p></p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  G95 Light Surround Gaming Headset
                </h2>
                <div class="card-price">
                  <span class="card-price__item">72.78 USD</span
                  ><span class="card-price__item">51.78 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">72.78 USD</li>
                  <li class="card-price__item">51.78 USD/li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-1x.jpg 1x,
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-tab-1x.jpg 1x,
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-mob-1x.jpg 1x,
                    ./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/Malloom1200DPI2_4GhzWirelessMouse-1x.jpg"
                  alt="Malloom 1200 DPI 2.4Ghz Wireless Mouse"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  Malloom 1200 DPI 2.4Ghz Wireless Mouse
                </h2>
                <div class="card-price">
                  <span class="card-price__item">44.24 USD</span
                  ><span class="card-price__item">29.93 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">44.24 USD</li>
                  <li class="card-price__item">29.93 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-tab-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-mob-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboard-1x.jpg"
                  alt="Steampunk Anti-Ghosting Mechanical Keyboard"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  Steampunk Anti-Ghosting Mechanical Keyboard
                </h2>
                <div class="card-price">
                  <span class="card-price__item">160.00 USD</span
                  ><span class="card-price__item">110.00 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">160.00 USD</li>
                  <li class="card-price__item">110.00 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-tab-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-mob-1x.jpg 1x,
                    ./images/kruglyak/XiberiaK9PRO_PCHeadset-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/XiberiaK9PRO_PCHeadset-1x.jpg"
                  alt="Xiberia K9 PRO PC Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">Xiberia K9 PRO PC Headset</h2>
                <div class="card-price">
                  <span class="card-price__item">156.00 USD</span
                  ><span class="card-price__item">116.00 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">156.00 USD</li>
                  <li class="card-price__item">116.00 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-1x.jpg 1x,
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-tab-1x.jpg 1x,
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-mob-1x.jpg 1x,
                    ./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/RGB_LEDBacklitMechanicalKeyboard-1x.jpg"
                  alt="RGB LED Backlit Mechanical Keyboard"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  RGB LED Backlit Mechanical Keyboard
                </h2>
                <div class="card-price">
                  <span class="card-price__item">156.00 USD</span
                  ><span class="card-price__item">116.00 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">156.00 USD</li>
                  <li class="card-price__item">116.00 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-1x.jpg 1x,
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-tab-1x.jpg 1x,
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-mob-1x.jpg 1x,
                    ./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/DARSHION3200DPI_MZ-17GamingMouse-1x.jpg"
                  alt="DARSHION 3200 DPI MZ-17 Gaming Mouse"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  DARSHION 3200 DPI MZ-17 Gaming Mouse
                </h2>
                <div class="card-price">
                  <span class="card-price__item">48.00 USD</span
                  ><span class="card-price__item">32.00 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">48.00 USD</li>
                  <li class="card-price__item">32.00 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-1x.jpg 1x,
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-tab-1x.jpg 1x,
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-mob-1x.jpg 1x,
                    ./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/K569RGB_LED_BacklitMechanicalKeyboard-1x.jpg"
                  alt="K569 RGB LED Backlit Mechanical Keyboard"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  K569 RGB LED Backlit Mechanical Keyboard
                </h2>
                <div class="card-price">
                  <span class="card-price__item">156.98 USD</span
                  ><span class="card-price__item">112.16 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">156.98 USD</li>
                  <li class="card-price__item">112.16 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-1x.jpg 1x,
                    ./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg"
                  alt="Steampunk Anti-Ghosting Mechanical Keyboard"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  Steampunk Anti-Ghosting Mechanical Keyboard
                </h2>
                <div class="card-price">
                  <span class="card-price__item">82.40 USD</span
                  ><span class="card-price__item">62.40 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">82.40 USD</li>
                  <li class="card-price__item">62.40 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-1x.jpg 1x,
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-tab-1x.jpg 1x,
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-mob-1x.jpg 1x,
                    ./images/kruglyak/WiredGamingHeadphonesForPS4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/WiredGamingHeadphonesForPS4-1x.jpg"
                  alt="Wired Gaming Headphones For PS4"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  Wired Gaming Headphones For PS4
                </h2>
                <div class="card-price">
                  <span class="card-price__item">72.65 USD</span
                  ><span class="card-price__item">47.55 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">72.65 USD</li>
                  <li class="card-price__item">47.55 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-1x.jpg 1x,
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-tab-1x.jpg 1x,
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-mob-1x.jpg 1x,
                    ./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/HAVIT_USB_3.5mmGamingHeadset-1x.jpg"
                  alt="HAVIT USB 3.5mm Gaming Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  HAVIT USB 3.5mm Gaming Headset
                </h2>
                <div class="card-price">
                  <span class="card-price__item">65.14 USD</span
                  ><span class="card-price__item">53.98 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">65.14 USD</li>
                  <li class="card-price__item">53.98 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-1x.jpg 1x,
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-tab-1x.jpg 1x,
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-mob-1x.jpg 1x,
                    ./images/kruglyak/SomicG936N_PS4_GamingHeadset-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/SomicG936N_PS4_GamingHeadset-1x.jpg"
                  alt="Somic G936N PS4 Gaming Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  Somic G936N PS4 Gaming Headset
                </h2>
                <div class="card-price">
                  <span class="card-price__item">102.00 USD</span
                  ><span class="card-price__item">66.78 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">102.00 USD</li>
                  <li class="card-price__item">66.78 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/AULA_SI9006_GamingMouse-1x.jpg 1x,
                    ./images/kruglyak/AULA_SI9006_GamingMouse-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/AULA_SI9006_GamingMouse-tab-1x.jpg 1x,
                    ./images/kruglyak/AULA_SI9006_GamingMouse-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/AULA_SI9006_GamingMouse-mob-1x.jpg 1x,
                    ./images/kruglyak/AULA_SI9006_GamingMouse-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/AULA_SI9006_GamingMouse-1x.jpg"
                  alt="AULA SI9006 Gaming Mouse"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">AULA SI9006 Gaming Mouse</h2>
                <div class="card-price">
                  <span class="card-price__item">89.13 USD</span
                  ><span class="card-price__item">64.13 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">89.13 USD</li>
                  <li class="card-price__item">64.13 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-1x.jpg 1x,
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-tab-1x.jpg 1x,
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-mob-1x.jpg 1x,
                    ./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/HXSJ_A903_3200_DPI_USB_WiredGamingMouse-1x.jpg"
                  alt="HXSJ A903 3200 DPI USB Wired Gaming Mouse"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  HXSJ A903 3200 DPI USB Wired Gaming Mouse
                </h2>
                <div class="card-price">
                  <span class="card-price__item">50.49 USD</span
                  ><span class="card-price__item">32.49 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">50.49 USD</li>
                  <li class="card-price__item">32.49 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-1x.jpg 1x,
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-tab-1x.jpg 1x,
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-mob-1x.jpg 1x,
                    ./images/kruglyak/G95_LightSurroundGamingHeadset-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/G95_LightSurroundGamingHeadset-1x.jpg"
                  alt="G95 Light Surround Gaming Headset"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  G95 Light Surround Gaming Headset
                </h2>
                <div class="card-price">
                  <span class="card-price__item">78.98 USD</span
                  ><span class="card-price__item">50.98 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">78.98 USD</li>
                  <li class="card-price__item">50.98 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
        <li class="cards__item">
          <a class="cards__link link" href="./take_order.html">
            <div class="cover-container">
              <picture class="picture">
                <source
                  srcset="
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-1x.jpg 1x,
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-tab-1x.jpg 1x,
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-mob-1x.jpg 1x,
                    ./images/kruglyak/YMDK_DoubleShot104Keyboard-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="cover-container__image"
                  src="./images/kruglyak/YMDK_DoubleShot104Keyboard-1x.jpg"
                  alt="YMDK Double Shot 104 Keyboard"
                  width="285"
                  height="276"
                />
              </picture>
              <div class="cover-container__text">
                <p>100% Brand new and high quality!</p>
                <br />
                <p>Ergonomic in design makes it more adjustable to use.</p>
                <br />
                <p>
                  More fashionable for your daily use, such as playing games.
                </p>
                <br />
                <p>Built-in high sensitivity and noise reduction microphone.</p>
                <br />
                <p>
                  It is not easy to break or deform, and wear comfortable, no
                  pressure.
                </p>
              </div>
              <!-- <p class="cover-container__text">
                  100% Brand new and high quality! <br /><br />
                  Ergonomic in design makes it more adjustable to use.
                  <br /><br />More fashionable for your daily use, such as
                  playing games. <br /><br />Built-in high sensitivity and noise
                  reduction microphone. <br /><br />It is not easy to break or
                  deform, and wear comfortable, no pressure.
                </p> -->
            </div>
            <div class="card-contant">
              <div class="card-contant__container">
                <h2 class="card-contant__title">
                  YMDK Double Shot 104 Keyboard
                </h2>
                <div class="card-price">
                  <span class="card-price__item">71.77 USD</span
                  ><span class="card-price__item">46.77 USD</span>
                </div>
                <!-- <ul class="card-price">
                  <li class="card-price__item">71.77 USD</li>
                  <li class="card-price__item">46.77 USD</li>
                </ul> -->
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="points-container">
      <ul class="points__list">
        <li class="points__item"><span class="point1"></span></li>
        <li class="points__item"><span class="point2"></span></li>
        <li class="points__item"><span class="point3"></span></li>
        <li class="points__item"><span class="point4"></span></li>
        <li class="points__item"><span class="point5"></span></li>
      </ul>
    </div>
  </div>
</section>
