<section class="blog">
  <div class="blog__container">
           <h1 class="section__title" >Blog</h1>
<!--Лінія-->               
<div class="line">
<div class="line__320">
<svg viewBox="0 0 320 12">
  <polyline
    class="line1"
    points="0,9 121,9 121,1 480,1"
    fill="none"
    stroke="#7BE34A"
    stroke-width="1"
  />
  <polyline
    class="line2"
    points="0,12 125,12 125,5 480,5"
    fill="none"
    stroke="#28780D"
    stroke-width="1"
  />
</svg>
</div>
<div class="line__mob">
<svg viewBox="0 0 480 12">
  <polyline
    class="line1"
    points="0,9 121,9 121,1 480,1"
    fill="none"
    stroke="#7BE34A"
    stroke-width="1"
  />
  <polyline
    class="line2"
    points="0,12 125,12 125,5 480,5"
    fill="none"
    stroke="#28780D"
    stroke-width="1"
  />
</svg>
</div>

<div class="line__tab">
<svg viewBox="0 0 768 25">
  <polyline
    class="line1"
    points="0,17 262,17 262,1 768,1"
    fill="none"
    stroke="#7BE34A"
    stroke-width="1"
  />
  <polyline
    class="line2"
    points="0,25 269,25 269,9 768,9"
    fill="none"
    stroke="#28780D"
    stroke-width="1"
  />
</svg>
</div>

<div class="line__desk">
<svg viewBox="0 0 1280 28">
  <polyline
    class="line1"
    points="0,20 262,20 262,1 1280,1"
    fill="none"
    stroke="#7BE34A"
    stroke-width="1"
  />
  <polyline
    class="line2"
    points="0,28 270,28 270,9 1280,9"
    fill="none"
    stroke="#28780D"
    stroke-width="1"
  />
</svg>
</div>
</div>
<!--Лінія-->               
         <ul class="blog__list">
                      <li class="blog__item">
                        <div class="blog__item--desk"> 
                        <h2 class="blog__title">Guide to Picking The Right Gaming Headset</h2>
                            <div class="blog__info">   
                              <div class="blog__image--mobile">
                              <picture>
                              <source
                            srcset="
                            
                            ../src/images/vasilenko/desk-blog1@1x.jpg 1x,
                            ../src/images/vasilenko/desk-blog1@2x.jpg 2x"
                            media="(min-width: 1280px)"
                          />
                          <source
                            srcset="
                            ../src/images/vasilenko/tab-blog1@1x.jpg 1x,
                            ../src/images/vasilenko/tab-blog1@2x.jpg 2x"
                            media="(min-width: 768px)"
                          />
                          <source
                            srcset="
                            ../src/images/vasilenko/mob-blog1@1x.jpg 1x,
                            ../src/images/vasilenko/mob-blog1@2x.jpg 2x"
                            media="(max-width: 767px)"
                          />
                          <img  class="blog_cover" src="../src/images/vasilenko/mob-blog1@1x.jpg" alt="headphone">
                              </picture>
                            </div>
                              <div class="blog__info--text">
                              <p class="blog__author">By Ray Ian Ampoloquio</p>
                              <p class="blog__update">Updated on September 21, 2022</p>
                          </div>
                          </div>
                              <p class="blog__content">
                                  Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
      Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...
                              </p>
                              <div class="blog__link--desk">
                              <a href="./blog_article.html" class="blog__link">Learn more</a>
                              </div>
                          </div> 
                      </li>
              <li class="blog__item">
                <div class="blog__item--desk"> 
                 <h2 class="blog__title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>     
                 <div class="blog__info">
                  <div class="blog__image--mobile">
                  <picture>
                          <source
                        srcset="
                        ../src/images/vasilenko/desk-blog2@1x.jpg 1x,
                        ../src/images/vasilenko/desk-blog2@2x.jpg 2x"
                        media="(min-width: 1280px)"
                      />
                      <source
                        srcset="
                        ../src/images/vasilenko/tab-blog2@1x.jpg 1x,
                        ../src/images/vasilenko/tab-blog2@2x.jpg 2x"
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                        ../src/images/vasilenko/mob-blog2@1x.jpg 1x,
                        ../src/images/vasilenko/mob-blog2@2x.jpg 2x"
                        media="(max-width: 767px)"
                      />
                      <img class="blog_cover" src="../src/images/vasilenko/mob-blog2@1x.jpg" alt="
                      gamer in shadow" >
                      </picture>
                      </div>
                      <div class="blog__info--text">                           
                      <p class="blog__author">By Gab L</p>
                      <p class="blog__update">Updated on September 10, 2022</p>
                      </div>
                      </div>
                      <p class="blog__content">
                          An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...
                      </p>
                      <div class="blog__link--desk">
                      <a href="./blog_article.html" class="blog__link">Learn more</a>
                       </div>
                      </div> 
              </li>
              <li class="blog__item">
                <div class="blog__item--desk">
                <h2 class="blog__title">How to Choose the Right Gaming Mouse</h2>
                <div class="blog__info">
                  <div class="blog__image--mobile">
                  <picture>
                      <source
                    srcset="
                    ../src/images/vasilenko/desk-blog3@1x.jpg 1x,
                    ../src/images/vasilenko/desk-blog3@2x.jpg 2x"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                    ../src/images/vasilenko/tab-blog3@1x.jpg 1x,
                    ../src/images/vasilenko/tab-blog3@2x.jpg 2x"
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                    ../src/images/vasilenko/mob-blog3@1x.jpg 1x,
                    ../src/images/vasilenko/mob-blog3@2x.jpg 2x"
                    media="(max-width: 767px)"
                  />
                  <img class="blog_cover" src="../src/images/vasilenko/mob-blog3@1x.jpg" alt="
                  gamer">
                  </picture>
                  </div>
                  <div class="blog__info--text"> 
                      <p class="blog__author">By Michael Crider</p>
                      <p class="blog__update">Updated on September 2, 2022</p>
                    </div>
                  </div>
                      <p class="blog__content">
                          A good mouse can make a big difference when playing your favorite games. Here&#39;s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...
                      </p>
                      <div class="blog__link--desk">
                        <a href="./blog_article.html" class="blog__link">Learn more</a>
                        </div>
                    </div> 
              </li>
          </ul>
  </div>
  
  <div class="points-container">
    <ul class="points__list">
      <li class="points__item"><span class="point1"></span></li>
      <li class="points__item"><span class="point2"></span></li>
      <li class="points__item"><span class="point3"></span></li>
    </ul>
  </div>
</section>