<footer class="footer">
    <div class="container container-footer">
        <div class="padding-logo">
            <section class="logo">
                <a href="index.html" class="footer__logo">SHOP FOR GAMERS</a>
            </section>
        </div>
        <div class="container-flex">
            <div class="contant-flex">
                <div class="footer__links">
                    <ul>
                        <li class="link-margin"><a href="/src/accessories.html" class="link-item">Accessories</a></li>
                        <li class="link-margin"><a href="/src/take_order.html" class="link-item">Take order</a></li>
                        <li class="link-margin"><a href="/src/contact.html" class="link-item">Contact</a></li>
                        <li class="link-margin"><a href="/src/blog.html" class="link-item">Blog</a></li>
                    </ul>
                </div>
                <div class="vis">
                    <ul class="section-icon">
                        <li>
                            <svg class="section_svg">
                                <use href="/src/images/icons.svg#icon-Instagram" width="24" height="24"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="section_svg">
                                <use href="/src/images/icons.svg#icon-youtube" width="24" height="24"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="section_svg">
                                <use href="/src/images/icons.svg#icon-facebook" width="24" height="24"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <div class="contacts-margin">
                    <ul class="contact-mail">
                        <li class="contact-mail__list">Email</li>
                        <li class="contact-margin"><a href="mailto:sfg.info@gmail.com"
                                class="contact-mail__item">Sfg.info@gmail.com</a></li>
                    </ul>
                    <ul>
                        <li class="contact-tel__list">Phone number</li>
                        <li class="contact-margin"><a href="tel:+380936432288" class="contact-tel__item">+38 (093) 643
                                22
                                88</a></li>
                        <li class="contact-margin"><a href="tel:+380503454423" class="contact-tel__item">+38 (050) 345
                                44
                                23</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-is-hidden">
                <section class="section-icon">
                    <svg class="section_svg">
                        <use href="images/icons.svg#icon-Instagram" width="24" height="24"></use>
                    </svg>
                    <svg class="section_svg">
                        <use href="images/icons.svg#icon-youtube" width="24" height="24"></use>
                    </svg>
                    <svg class="section_svg">
                        <use href="images/icons.svg#icon-facebook" width="24" height="24"></use>
                    </svg>
                </section>
            </div>
        </div>
    </div>
</footer>