<header class="header">
  <div class="container header__container">
    <a href="index.html" class="logo navigation__logo" lang="en"
      >SHOP FOR GAMERS
    </a>

    <nav class="navigation">
      <ul class="meny list">
        <li class="meny__item">
          <a href="./accessories.html" class="meny__link">Accessories</a>
        </li>
        <li class="meny__item">
          <a href="contact.html" class="meny__link">Contact</a>
        </li>
        <li class="meny__item">
          <a href="./blog.html" class="meny__link">Blog</a>
        </li>
      </ul>
      <button type="button" class="button button__menu-open" data-menu-open>
        <svg class="button__meny-open-icon" width="54" height="36">
          <use href="./images/icons.svg#icon-sandwich"></use>
        </svg>
      </button>
    </nav>

    <a href="./accessories.html" class="header__shop-now-btn">Shop now</a>
  </div>

  <div class="mobile is-hidden" data-menu>
    <div class="mobile__container">
      <div class="mobile__meny-top header__container">
        <a href="index.html" class="logo navigation__logo" lang="en"
          >SHOP FOR GAMERS
        </a>
        <button type="button" class="mobile__menu-close-btn" data-menu-close>
          <svg class="mobile__menu-close-icon" width="36" height="36">
            <use href="./images/icons.svg#icon-Main-menu-exit"></use>
          </svg>
        </button>
        <a href="./accessories.html" class="header__shop-now-btn">Shop now</a>
      </div>

      <div class="mobile__meny-bottom">
        <ul class="mobile__list">
          <li class="mobile__item">
            <a href="./accessories.html" class="mobile__link">accessories</a>
          </li>
          <li class="mobile__item">
            <a href="./contact.html" class="mobile__link">contact</a>
          </li>
          <li class="mobile__item">
            <a href="./blog.html" class="mobile__link">blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
