    <div class="backdrop is-hidden" data-modal__buy>
      <div class="contacts-backdrop">
        <div class="contacts-modal">
          <p class="contacts-modal__title">
            Thank you for your message! We will contact you soon!
          </p>
          <a class="modal__link modal__link-center" href="./accessories.html"> <button class="contacts-button button" type="submit">OK</button></a> 
          <button class="contacts-close__btn" data-modal__buy-close>
            <svg class="contacts-close__btn--icon" width="11" height="11">
              <use href="./images/icons.svg#icon-Main-menu-exit"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="backdrop is-hidden" data-modal__card>
      <div class="contacts-backdrop">
        <div class="contacts-modal">
          <p class="modal__title">
            Thank you for your message! We will contact you soon!
          </p>
          <a class="modal__link modal__link-center" href="./accessories.html"> <button class="contacts-button" type="submit">OK</button></a>         
          <button class="contacts-close__btn" data-modal__card-close>
            <svg class="contacts-close__btn--icon" width="11" height="11">
              <use href="./images/icons.svg#icon-Main-menu-exit"></use>
            </svg>
          </button>
        </div>
      </div>
    </div> -->
 
