<div class="backdrop is-hidden" data-modal__buy>
    <div class="backdrop">
        <div class="modal modal__take-order">
            <p class="modal__title">Thank you for your order! We will contact you soon!</p>
            <a class="modal__link modal__link-center" href="./accessories.html"><button class="button button-shopping"
                    type="submit">keep shoping</button></a>
            </form>
            <button class="close-btn" data-modal__buy-close>
                <svg class="close-btn__icon" width="11" height="11">
                    <use href="./images/icons.svg#icon-Main-menu-exit">
                    </use>
                </svg></button>
        </div>
    </div>
</div>
<div class="backdrop is-hidden" data-modal__card>
    <div class="backdrop">
        <div class="modal">
            <p class="modal__title">Excellent choice! Let's move on to the checkout!</p>
            <a class="modal__link modal__link-center" href="index.html"><button class="button button-shopping"
                    type="submit">Let's go!</button></a>
            </form>
            <button class="close-btn" data-modal__card-close>
                <svg class="close-btn__icon" width="11" height="11">
                    <use href="./images/icons.svg#icon-Main-menu-exit">
                    </use>
                </svg></button>
        </div>
    </div>
</div>