<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="backdrop is-hidden" data-modal__buy>
      <div class="contacts-backdrop">
        <div class="contacts-modal">
          <p class="contacts-modal__title">
            Thank you for your message! We will contact you soon!
          </p>

          <button class="button contacts-button" type="submit">OK</button>
          <button class="contacts-close__btn" data-modal__buy-close>
            <svg class="contacts-close__btn--icon" width="11" height="11">
              <use href="./images/icons.svg#icon-Main-menu-exit"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="backdrop is-hidden" data-modal__card>
      <div class="contacts-backdrop">
        <div class="contacts-modal">
          <p class="modal__title">
            Thank you for your message! We will contact you soon!
          </p>
          <button class="contacts-button" type="submit">OK</button>
          <button class="contacts-close__btn" data-modal__card-close>
            <svg class="contacts-close__btn--icon" width="11" height="11">
              <use href="./images/icons.svg#icon-Main-menu-exit"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
