<div class="backdrop is-hidden" data-modal>
    <div class="backdrop">
    <div class="modal">
    <p class="modal__title">Thank you for your order! We will contact you soon!</p>
        
                <button class="button button-shopping" type="submit">keep shoping</button>
        </form>
                <button class="close-btn" data-modal-close>
                            <svg class="close-btn__icon" width="11" height="11">
                            <use href="./images/icons.svg#icon-Main-menu-exit">
                            </use>
                        </svg></button>
    </div>
    </div>
    </div>