<section class="sale">
  <div class="container sale__container">
    <h2 class="sale__title">Sale</h2>
  </div>
  <div class="line-Guide">
    <div class="line__mob">
      <svg viewBox="0 0 320 12">
        <polyline class="line1" points="0,9 136,9 136,1 480,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,12 140,12 140,5 480,5" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__320">
      <svg viewBox="0 0 320 12">
        <polyline class="line1" points="0,9 136,9 136,1 480,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,12 140,12 140,5 480,5" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__tab">
      <svg viewBox="0 0 768 28">
        <polyline class="line1" points="0,20 325,20 325,1 768,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,28 333,28 333,9 768,9" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__desk">
      <svg viewBox="0 0 1280 28">
        <polyline class="line1" points="0,20 325,20 325,1 1280,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,28 333,28 333,9 1280,9" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
  </div>
  <div class="container sale__container">
    <div class="sale__cards">
      <ul class="sale__list">
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_1-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_1-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_1-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_1-2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_mob_1-1x.jpg 1x,
                  ./images/stelmashchuk/sale_mob_1-2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_mob_1-1x.jpg" alt="pc_headset" width="285" />
            </picture>
            <p class="text__item">Xiberia K9 PRO PC<br />Headset</p>
            <div class="sale__price">
              <span class="sale__old">65.14 USD</span>
              <span class="sale__new">55.14 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_2-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_2-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_2-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_2-2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_mob_2-1x.jpg 1x,
                  ./images/stelmashchuk/sale_mob_2-2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_mob_2-1x.jpg" alt="rgb keyboard" width="285" />
            </picture>
            <p class="text__item">RGB LED Backlit <br />Mechanical Keyboard</p>
            <div class="sale__price">
              <span class="sale__old">156.00 USD</span>
              <span class="sale__new">116.00 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_3-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_3-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_3-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_3-2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_mob_3-1x.jpg 1x,
                  ./images/stelmashchuk/sale_mob_3-2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_mob_3-1x.jpg" alt="gaming headset" width="285" />
            </picture>
            <p class="text__item">G95 Light Surround <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale__old">78.98 USD</span>
              <span class="sale__new">50.98 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_4-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_4-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_4-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_4-2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_mob_4-1x.jpg 1x,
                  ./images/stelmashchuk/sale_mob_4-2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_mob_4-1x.jpg" alt="мalloom мouse" width="285" />
            </picture>
            <p class="text__item"> Malloom 1200 DPI 2.4Ghz <br />Wireless Mouse </p>
            <div class="sale__price">
              <span class="sale__old">44.24 USD</span>
              <span class="sale__new">29.93 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_5-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_5-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_5-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_5-2x.jpg 2x
                " media="(min-width: 768px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_tabl_5-1x.jpg" alt="g95 headset" width="285" />
            </picture>
            <p class="text__item">G95 Light Surround <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale__old">72.78 USD</span>
              <span class="sale__new">51.78 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_6-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_6-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_6-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_6-2x.jpg 2x
                " media="(min-width: 768px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_tabl_6-1x.jpg" alt="k569 keyboard" width="285" />
            </picture>
            <p class="text__item"> K569 RGB LED Backlit <br />Mechanical Keyboard </p>
            <div class="sale__price">
              <span class="sale__old">156.98 USD</span>
              <span class="sale__new">112.16 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_7-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_7-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_7-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_7-2x.jpg 2x
                " media="(min-width: 768px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_tabl_7-1x.jpg" alt="darshion mouse" width="285" />
            </picture>
            <p class="text__item">DARSHION 3200 DPI <br />MZ-17 Gaming Mouse</p>
            <div class="sale__price">
              <span class="sale__old">48.00 USD</span>
              <span class="sale__new">32.00 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="./take_order.html">
            <picture>
              <source srcset="
                  ./images/stelmashchuk/sale_desk_8-1x.jpg 1x,
                  ./images/stelmashchuk/sale_desk_8-2x.jpg 2x
                " media="(min-width: 1200px)" />
              <source srcset="
                  ./images/stelmashchuk/sale_tabl_8-1x.jpg 1x,
                  ./images/stelmashchuk/sale_tabl_8-2x.jpg 2x
                " media="(min-width: 768px)" />
              <img class="sale__img" src="./images/stelmashchuk/sale_tabl_8-1x.jpg" alt="logitech headset"
                width="285" />
            </picture>
            <p class="text__item">Logitech G230 Stereo <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale__old">160.00 USD</span>
              <span class="sale__new">110.00 USD</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="sale__buton">
      <a class="sale-button-link button-view button" href="/src/accessories.html">View all</a>
      <!-- <button type="button" class="button-view button">
        <a class="sale-button-link" href="./accessories.html">View all</a> -->
      </button>
    </div>
  </div>
</section>