<section class="sale">
  <div class="container sale__container">
    <div class="sale__text">
      <h2 class="sale__title">Sale</h2>
    </div>
    <div class="sale__cards">
      <ul class="sale__list">
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_1-1x.jpg 1x,
                  ./images/sale/sale_desk_1-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_1-1x.jpg 1x,
                  ./images/sale/sale_tabl_1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/sale_mob_1-1x.jpg 1x,
                  ./images/sale/sale_mob_1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_mob_1-1x.jpg"
                alt="pc_headset"
                width="285"
              />
            </picture>
            <p class="text__item">Xiberia K9 PRO PC<br />Headset</p>
            <div class="sale__price">
              <span class="sale-old-price">65.14 USD</span>
              <span class="sale-new-price">55.14 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_2-1x.jpg 1x,
                  ./images/sale/sale_desk_2-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_2-1x.jpg 1x,
                  ./images/sale/sale_tabl_2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/sale_mob_2-1x.jpg 1x,
                  ./images/sale/sale_mob_2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_mob_2-1x.jpg"
                alt="rgb keyboard"
                width="285"
              />
            </picture>
            <p class="text__item">RGB LED Backlit <br />Mechanical Keyboard</p>
            <div class="sale__price">
              <span class="sale-old-price">156.00 USD</span>
              <span class="sale-new-price">116.00 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_3-1x.jpg 1x,
                  ./images/sale/sale_desk_3-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_3-1x.jpg 1x,
                  ./images/sale/sale_tabl_3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/sale_mob_3-1x.jpg 1x,
                  ./images/sale/sale_mob_3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_mob_3-1x.jpg"
                alt="gaming headset"
                width="285"
              />
            </picture>
            <p class="text__item">G95 Light Surround <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale-old-price">78.98 USD</span>
              <span class="sale-new-price">50.98 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_4-1x.jpg 1x,
                  ./images/sale/sale_desk_4-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_4-1x.jpg 1x,
                  ./images/sale/sale_tabl_4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/sale/sale_mob_4-1x.jpg 1x,
                  ./images/sale/sale_mob_4-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_mob_4-1x.jpg"
                alt="мalloom мouse"
                width="285"
              />
            </picture>
            <p class="text__item">
              Malloom 1200 DPI 2.4Ghz <br />Wireless Mouse
            </p>
            <div class="sale__price">
              <span class="sale-old-price">44.24 USD</span>
              <span class="sale-new-price">29.93 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_5-1x.jpg 1x,
                  ./images/sale/sale_desk_5-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_5-1x.jpg 1x,
                  ./images/sale/sale_tabl_5-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_tabl_5-1x.jpg"
                alt="g95 headset"
                width="285"
              />
            </picture>
            <p class="text__item">G95 Light Surround <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale-old-price">72.78 USD</span>
              <span class="sale-new-price">51.78 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_6-1x.jpg 1x,
                  ./images/sale/sale_desk_6-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_6-1x.jpg 1x,
                  ./images/sale/sale_tabl_6-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_tabl_6-1x.jpg"
                alt="k569 keyboard"
                width="285"
              />
            </picture>
            <p class="text__item">
              K569 RGB LED Backlit <br />Mechanical Keyboard
            </p>
            <div class="sale__price">
              <span class="sale-old-price">156.98 USD</span>
              <span class="sale-new-price">112.16 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_7-1x.jpg 1x,
                  ./images/sale/sale_desk_7-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_7-1x.jpg 1x,
                  ./images/sale/sale_tabl_7-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_tabl_7-1x.jpg"
                alt="darshion mouse"
                width="285"
              />
            </picture>
            <p class="text__item">DARSHION 3200 DPI <br />MZ-17 Gaming Mouse</p>
            <div class="sale__price">
              <span class="sale-old-price">48.00 USD</span>
              <span class="sale-new-price">32.00 USD</span>
            </div>
          </a>
        </li>
        <li class="sale__item">
          <a class="sale__link" href="">
            <picture>
              <source
                srcset="
                  ./images/sale/sale_desk_8-1x.jpg 1x,
                  ./images/sale/sale_desk_8-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/sale/sale_tabl_8-1x.jpg 1x,
                  ./images/sale/sale_tabl_8-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="sale__img"
                src="./images/sale/sale_tabl_8-1x.jpg"
                alt="logitech headset"
                width="285"
              />
            </picture>
            <p class="text__item">Logitech G230 Stereo <br />Gaming Headset</p>
            <div class="sale__price">
              <span class="sale-old-price">160.00 USD</span>
              <span class="sale-new-price">110.00 USD</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="sale__buton">
      <button type="button" class="button-view button">
        <a class="sale-button-link" href="./accessories.html">View all</a>
      </button>
    </div>
  </div>
</section>
