<section class="slide section">
  <h2 class="h2-sl visually-hidden">Slide</h2>
  <input checked type="radio" name="respond" id="desktop" />
  <article id="slider">
    <h2 class="slide__title visually-hidden">Slide</h2>
    <input checked type="radio" name="slider" id="switch1" />
    <input type="radio" name="slider" id="switch2" />
    <input type="radio" name="slider" id="switch3" />
    <div class="slides">
      <div class="overflow">
        <div class="slides__container">
          <article class="slides__item">
            <h2 class="slide__title visually-hidden">
              One place for everything you want
            </h2>
            <picture class="picture">
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-1-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-1-tab-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-1-480-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-1-480-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-1-mob-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-1-mob-2x.jpg 2x
                "
                media="(max-width: 479.9px)"
              />
              <img
                class="container__image"
                src="./images/melnyk-kruglyak/Slider-1-1x.jpg"
                alt="Keyboard"
              />
            </picture>

            <div class="title-container first">
              <p class="slide__title first">
                One place for everything you want
              </p>
            </div>
          </article>
          <article class="slides__item">
            <h2 class="slide__title visually-hidden">
              Best shop for buying
              <span class="word-upper">gaming products</span>
            </h2>
            <picture class="picture">
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-2-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-2-tab-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-2-480-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-2-480-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-2-mob-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-2-mob-2x.jpg 2x
                "
                media="(max-width: 479.9px)"
              />
              <img
                class="container__image"
                src="./images/melnyk-kruglyak/Slider-2-1x.jpg"
                alt="Players"
              />
            </picture>
            <div class="title-container second">
              <p class="slide__title second">
                Best shop for buying
                <span class="word-upper">gaming products</span>
              </p>
            </div>
          </article>
          <article class="slides__item">
            <h2 class="slide__title visually-hidden">
              High-quality products in lowest price
            </h2>
            <picture class="picture">
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-3-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-3-tab-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-3-480-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-3-480-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <source
                srcset="
                  ./images/melnyk-kruglyak/Slider-3-mob-1x.jpg 1x,
                  ./images/melnyk-kruglyak/Slider-3-mob-2x.jpg 2x
                "
                media="(max-width: 479.9px)"
              />
              <img
                class="container__image"
                src="./images/melnyk-kruglyak/Slider-3-1x.jpg"
                alt="Playstation"
              />
            </picture>

            <div class="title-container third">
              <p class="slide__title third">
                High-quality products in lowest price
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="active-point">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
    </div>
  </article>
</section>
