<section class="slider">
  <input checked type="radio" name="respond" id="desktop" />
  <article id="slider">
    <input checked type="radio" name="slider" id="switch1" />
    <input type="radio" name="slider" id="switch2" />
    <input type="radio" name="slider" id="switch3" />
    <div id="slides">
      <div id="overflow">
        <div class="image">
          <article>
            <picture class="picture">
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="cover-container__image"
                src="./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg"
                alt="Steampunk Anti-Ghosting Mechanical Keyboard"
                width="285"
                height="276"
              />
            </picture>
          </article>
          <article>
            <picture class="picture">
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="cover-container__image"
                src="./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg"
                alt="Steampunk Anti-Ghosting Mechanical Keyboard"
                width="285"
                height="276"
              />
            </picture>
          </article>
          <article>
            <picture class="picture">
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-1x.jpg 1x,
                  ./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="cover-container__image"
                src="./images/accessories/SteampunkAnti-GhostingMechanicalKeyboardLite-1x.jpg"
                alt="Steampunk Anti-Ghosting Mechanical Keyboard"
                width="285"
                height="276"
              />
            </picture>
          </article>
        </div>
      </div>
    </div>

    <div id="active">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
    </div>
  </article>
</section>
