<section class="order">
  <div class="container container__take-order">
    <h1 class="order__title"> Take order </h1>
  </div>
  <div class="line-Guide">
    <div class="line__320">
      <svg viewBox="0 0 320 12">
        <polyline class="line1" points="0,9 121,9 121,1 480,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,12 125,12 125,5 480,5" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__mob">
      <svg viewBox="0 0 480 12">
        <polyline class="line1" points="0,9 121,9 121,1 480,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,12 125,12 125,5 480,5" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__tab">
      <svg viewBox="0 0 768 28">
        <polyline class="line1" points="0,20 261,20 261,1 768,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,28 269,28 269,9 768,9" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
    <div class="line__desk">
      <svg viewBox="0 0 1280 28">
        <polyline class="line1" points="0,20 417,20 417,1 1280,1" fill="none" stroke="#7BE34A" stroke-width="1" />
        <polyline class="line2" points="0,28 424,28 424,9 1280,9" fill="none" stroke="#28780D" stroke-width="1" />
      </svg>
    </div>
  </div>
  <div class="container container__take-order">
    <div class="set-wrap">
      <div class="product-card">
        <h2 class="hdphone-title"> Xiberia K9 PRO PC Headset </h2>
        <div class="item-card">
          <div class="main-img">
            <picture>
              <source srcset="
                                      ./images/to_images/tablet_desktop/hphone_1.jpg 1x,
                                        ./images/to_images/tablet_desktop/hphone_1_2x.jpg 2x
                                          " media="(min-width: $desktop)" />
              <source srcset="
                                      ./images/to_images/tablet_desktop/hphone_1.jpg 1x,
                                      ./images/to_images/tablet_desktop/hphone_1_2x.jpg 2x
                                         " media="(min-width: $tablet)" />
              <source srcset="
                                      ./images/to_images/mobile/hphone_1.jpg 1x,
                                      ./images/to_images/mobile/hphone_1_2x.jpg 2x
                                         " media="(max-width: 767px)" />
              <img class="big-img" src="./images/to_images/tablet_desktop/hphone_1.jpg" alt="Head phone 1"
                sizes="(min-width: $desktop) 25vw, (min-width: $tablet) 50vw, 100vw" width="387" height="346" />
            </picture>
          </div>
          <div class="price-block">
            <h2 class="hdphone-title-tabs"> Xiberia K9 PRO PC Headset </h2>
            <p class="price"> 65.14 USD </p>
            <p class="discount"> 55.14 USD </p>
          </div>
        </div>
      </div>
      <div class="img-set">
        <div class="images-block">
          <h2 class="hdphone-title-tabs"> Xiberia K9 PRO PC Headset </h2>
          <div class="text-space">
            <p class="price-two"> 65.14 USD </p>
            <p class="discount-two"> 55.14 USD </p>
          </div>
        </div>
        <ul class="img-list">
          <li class="img-list__item">
            <picture>
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_2.jpg 1x,
                ./images/to_images/tablet_desktop/hphone_2_2x.jpg 2x
                  " width='154' height="160" />
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_2.jpg 1x,
              ./images/to_images/tablet_desktop/hphone_2_2x.jpg 2x
                 " width='154' height="160" />
              <source srcset="
              ./images/to_images/mobile/hphone_2.jpg 1x,
              ./images/to_images/mobile/hphone_2_2x.jpg 2x
                 " width='154' height="160" />
              <img src="./images/to_images/tablet_desktop/hphone_2.jpg" alt="Head phone 2"
                sizes="(min-width: $desktop) 25vw, (min-width: $tablet) 50vw, 100vw" width='154' height="160" />
            </picture>
          </li>
          <li class="img-list__item">
            <picture>
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_3.jpg 1x,
                ./images/to_images/tablet_desktop/hphone_3_2x.jpg 2x
                  " />
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_3.jpg 1x,
              ./images/to_images/tablet_desktop/hphone_3_2x.jpg 2x
                 " />
              <source srcset="
              ./images/to_images/mobile/hphone_3.jpg 1x,
              ./images/to_images/mobile/hphone_3_2x.jpg 2x
                 " />
              <img src="./images/to_images/tablet_desktop/hphone_3.jpg" alt="Head phone 3"
                sizes="(min-width: $desktop) 25vw, (min-width: $tablet) 50vw, 100vw" />
            </picture>
          </li>
          <li class="img-list__item">
            <picture>
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_4.jpg 1x,
                ./images/to_images/tablet_desktop/hphone_4_2x.jpg 2x
                  " />
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_4.jpg 1x,
              ./images/to_images/tablet_desktop/hphone_4_2x.jpg 2x
                 " />
              <source srcset="
              ./images/to_images/mobile/hphone_4.jpg 1x,
              ./images/to_images/mobile/hphone_4_2x.jpg 2x
                 " />
              <img src="./images/to_images/tablet_desktop/hphone_4.jpg" alt="Head phone 4"
                sizes="(min-width: $desktop) 25vw, (min-width: $tablet) 50vw, 100vw" />
            </picture>
          </li>
          <li class="img-list__item">
            <picture>
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_5.jpg 1x,
                ./images/to_images/tablet_desktop/hphone_5_2x.jpg 2x
                  " />
              <source srcset="
              ./images/to_images/tablet_desktop/hphone_5.jpg 1x,
              ./images/to_images/tablet_desktop/hphone_5_2x.jpg 2x
                 " />
              <source srcset="
              ./images/to_images/mobile/hphone_5.jpg 1x,
              ./images/to_images/mobile/hphone_5_2x.jpg 2x
                 " />
              <img src="./images/to_images/tablet_desktop/hphone_5.jpg" alt="Head phone 5"
                sizes="(min-width: $desktop) 25vw, (min-width: $tablet) 50vw, 100vw" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-flex">
      <p class="form__title">contact us</p>
    </div>
    <div class="form__container">
      <div class="container-form">
        <div class="form__field">
          <div class="contact-flex"></div>
          <form class="form" autocomplete="on">
            <div class="form__item">
              <label for="name" class="form__name"></label>
              <input type="text" class="form__input" name="name" id="name" placeholder="Name" />
            </div>
            <div class="form__item">
              <label for="email" class="form__name"></label>
              <input type="email" class="form__input" name="mail" id="mail" placeholder="Email" />
            </div>
            <div class="form__item">
              <svg class="form__icon" width="18" height="13">
                <use href="./images/icons.svg#icon-down">
                </use>
              </svg>
              <svg class="form__icon_2" width="18" height="13">
                <use href="./images/icons.svg#icon-up">
                </use>
              </svg>
              <select name="" class="form__select">
                <option value="value" class="hiddens" selected>Color option</option>
                <option value="value1">K9D Black Orange</option>
                <option value="value2">K9D Silver Gray</option>
                <option value="value3">K9U White Blue</option>
              </select>
            </div>
            <div class="form__item">
              <svg class="form__icon" width="18" height="13">
                <use href="./images/icons.svg#icon-down">
                </use>
              </svg>
              <svg class="form__icon_2" width="18" height="13">
                <use href="./images/icons.svg#icon-up">
                </use>
              </svg>
              <select name="" class="form__select">
                <option value="value" class="hiddens" selected>Quantity</option>
                <option value="value1">1</option>
                <option value="value2">2</option>
                <option value="value3">3</option>
                <option value="value4">4</option>
                <option value="value5">5</option>
              </select>
            </div>
            <div class="form__item">
              <svg class="form__icon" width="18" height="13">
                <use href="./images/icons.svg#icon-down">
                </use>
              </svg>
              <svg class="form__icon_2" width="18" height="13">
                <use href="./images/icons.svg#icon-up">
                </use>
              </svg>
              <select name="" class="form__select">
                <option value="value" class="hiddens" selected>Payment</option>
                <option value="value1">Credit Card</option>
                <option value="value2">Cash</option>
              </select>
            </div>
        </div>
        <div class="form__textarea">
          <div class="form__textarea-label">
            <label for="message" class="form__name">Leave your message</label>
          </div>
          <div class="form__textarea-item">
            <textarea name="comment" id="comment" rows="10" placeholder=""></textarea>
          </div>
        </div>
      </div>
      <div class="btn-block">
        <button class="button button-buy" type="submit" data-modal__buy-open>buy it now</button>
        <button class="button button-add" type="submit" data-modal__card-open>add to cart</button>
      </div>
    </div>
    </form>
  </div>
  </div>
</section>