            <section class="order">
                <div class="conteiner">
                <h1 class="order__title">
                Take order
                </h1>
               <div class="order_form">
        <form class="form" autocomplete="on">
        <p class="form__title">contact us</p>
        <div class="form__field">
        <label for="name" class="form__name"></label>
        <input type="text" class="form__input" name="name" id="name" placeholder="Name"/>
        </div>
        <div class="form__field">
            <label for="email" class="form__name"></label>
            <input type="email" class="form__input" name="mail" id="mail" placeholder="Email"/>
                
            </div>
            <div class="form__field">
                <select name="" class="form__input">
                    <option value="value" class="hiddens" selected>Color option</option>
                    <option value="value1">K9D Black Orange</option>
                    <option value="value2">K9D Silver Gray</option>
                    <option value="value3">K9U White Blue</option>
                    </optgroup>
                </select>
            </div>
            
               <div class="form__field">
                    <select name="" class="form__input">
                    <option value="value" class="hiddens" selected>Quantity</option>
                    <option value="value1">1</option>
                    <option value="value2">2</option>
                    <option value="value3">3</option>
                    <option value="value4">4</option>
                    <option value="value5">5</option>
                    </select> 
               </div>
               <div class="form__field">
                   <select name="" class="form__input">
                   <option value="value" class="hiddens" selected>Payment</option>        
                    <option value="value1">Credit Card</option>
                    <option value="value2">Cash</option>
                    </select> 
               </div>
               </div>
                <div class="form__field">
                    <label for="message" class="form__name">Leave your message</label>
                    <textarea name="comment" id="comment" rows="10" placeholder=""></textarea>
                    </div>
               
                    <button class="button button-buy" type="submit" data-modal-open>buy it now</button>
                    
                    <button class="button button-add" type="submit">add to cart</button>
                    
            </form>
                    </div>
        </div>  
    </section>