.blog{

 
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 48px;
 
 
  background-image: url(../images/vasilenko/mob-bg@1x.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left top;
  @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx){
         background-image: url(../images/vasilenko/mob-bg@2x.jpg); 
      }

 @media screen and (min-width: 768px){

  padding-top: 120px;
  padding-bottom: 120px;

    background-image: url(../images/vasilenko/tab-bg@1x.jpg);

      @media (min-device-pixel-ratio: 2),
             (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
             background-image: url(../images/vasilenko/tab-bg@2x.jpg);
      }
 }
 @media screen and (min-width: 1280px){

    background-image: url(../images/vasilenko/desc-bg@1x.jpg);
     
      @media (min-device-pixel-ratio: 2),
             (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
             background-image: url(../images/vasilenko/desc-bg@2x.jpg);
      }
 }
 
}

.blog__container{
position: relative;
margin: 0 auto;
padding-left: 16px;
padding-right: 16px;

@media screen and (min-width: 480px){
width: 480px;
margin: 0 auto;
}

@media screen and (min-width: 768px){
width: 768px;
padding-left: 40px;
padding-right: 40px;
}
@media screen and (min-width: 1280px){
width: 1280px;

}
}

.section__title{
font-style: medium;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
color: #FFFFFF;
//margin-bottom: 16px;


@media screen and (min-width: 768px) {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.17;
  margin-left: 59px;
 // margin-bottom: 67px;
}

@media screen and (min-width: 1280px) {
   margin-left: 102px;
  // margin-bottom: 75px;
}

}


.line {
position: relative;
right: 16px;
width: calc(100% + 32px);
@media screen and (max-width: 479.9px) {
margin-bottom: 20px;
.line__mob,
.line__tab,
.line__desk {
  display: none;
}
}

@media screen and (min-width: 480px) and (max-width: 767.9px) {
margin-bottom: 20px;
.line__tab,
.line__desk,
.line__320 {
  display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
right: 40px;
width: calc(100% + 80px);
margin-bottom: 40px;

.line__mob,
.line__desk,
.line__320 {
  display: none;
}
}

@media screen and (min-width: 1280px) {
right: 40px;
width: calc(100% + 80px);
margin-bottom: 48px;

.line__mob,
.line__tab,
.line__320 {
  display: none;
}
}
}


.blog__item:not(:last-child){

    margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.blog__item:last-child{

margin-bottom: 48px;
@media screen and (min-width: 768px) {
margin-bottom: 43px;
}

@media screen and (min-width: 1280px) {
margin-bottom: 48px;
}

}


.blog__item--desk{

max-width: 480px;
position: relative;

@media screen and (min-width: 768px) {
  max-width: 768px;
}

   @media screen and (min-width: 1280px) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  max-width: 693px;
  height: 364px;
  margin-left: 508px;
}
}


.blog__title{
  font-style: medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #FFFFFF;
  margin-bottom: 16px;
  
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 56px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
  
}

.blog__image--mobile{
width: calc(100% + 32px);

@media screen and (min-width: 768px) {
  width: 387px;
}

@media screen and (min-width: 1280px) {
  width: 0;
  
}
}

.blog_cover{
  position: relative;
  right: 16px;
  margin-bottom: 8px;
  width: calc(100vw + 32px);
  
 
  @media screen and (min-width: 768px) {
    max-width: 387px;
    border-radius: 12px;
    right: 0;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    right: calc(100% + 120px);
  }
}

.blog__info{

@media screen and (min-width: 768px) {
  display: flex;
  align-items: flex-end;

&--text{
  margin-left: 40px;
}
}
}

.blog__info--text{
  
  @media screen and (min-width: 1280px){
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%;
  margin-left: 0;
  
  
  
}
}

.blog__author{
  font-style: medium;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    
    margin-bottom: 0;
  }


}

.blog__update{
  font-style: medium;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #8D9289;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    
  }

}

.blog__content{
  font-style: regular;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #FFFFFF;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
  }

    
}

.blog__link{
  font-style: medium;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $accent-color;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1;
  }

  &--desk{
     display: flex;
     align-items: flex-end;
   
}
}


.points-container {
margin: 0 auto;
width: 144px;
@media screen and (min-width: 1280px) {
  width: 80px;
}
}

.points__list {
display: flex;
gap: 16px;


}

.point1,
.point2,
.point3 {
content: "";
background: #fff;
display: block;
height: 16px;
width: 16px;
border-radius: 50%;
border: 0;
overflow: visible;
}

.point1 {
animation: one 3s ease-in-out 1.5s infinite;
}
.point3 {
animation: three 3s ease-in-out alternate 0.2s infinite;
}

@keyframes one {
0% {
  width: 16px;
}
50% {
  width: 40px;
  border-radius: 30px;
}
100% {
  width: 16px;
}
}

@keyframes three {
0% {
  width: 16px;
}
50% {
  width: 40px;
  border-radius: 30px;
}
100% {
  width: 16px;
}
}