.container-footer {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        max-width: 270px;
        padding: 25px 0 24px 0;
        margin: 0 auto;
    }

    @media screen and (min-width:768px) {
        display: flex;
        max-width: 100%;
        padding: 40px 51px 40px 40px;
        margin: 0 auto;
    }

    @media screen and (min-width:1280px) {
        display: flex;
        max-width: 100%;
        padding: 40px 51px 40px 40px;
        margin: 0 auto;
        justify-content: center;
    }
}

.container-flex {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        display: flex;
    }

    @media screen and (min-width:768px) {}
}

.contant-flex {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        display: block;
    }

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.footer-is-hidden {
    @media screen and (min-width:768px) {
        display: none;
    }

}

.vis {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: block;
    }
}

.footer {
    max-width: 100%;
    background: #001414;
}

.footer__logo {
    font-weight: 700;
    max-width: 116px;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;

    color: #ffffff;

    @media screen and (min-width:768px) {
        min-width: 116px;
    }
}

.logo {
    display: flex;
}

.margin-logo {
    margin: 25px 0px 0px 0px;

}

.footer__links {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        margin: 25px 0px 24px 0px;
    }

    @media screen and (min-width:768px) {
        margin: 0;
        margin-left: 61px;
    }

    @media screen and (min-width:1280px) {
        margin: 0;
        margin-left: 118px;
    }
}

.link-margin {
    margin-top: 16px;
}

.contacts-margin {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        margin: 0;
    }

    @media screen and (min-width:768px) {
        margin-left: 73px;
    }

    @media screen and (min-width:1280px) {
        margin-left: 281px;
    }
}

.link-margin:first-child {
    margin-top: 0px;
}

.link-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.footer-list {}

.contact-mail__list {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(18.75 / 16);

    color: #ffffff;
}

.contact-tel__list {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(18.75 / 16);
    margin-top: 16px;

    color: #ffffff;
}

.contact-mail__item {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(18.75 / 16);

    color: #8D9289;
}

.contact-tel__item {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(18.75 / 16);

    color: #8D9289;
}

.contact-margin {
    margin-top: 8px;
}

.section-icon {

    @media screen and (min-width:379.98px),
    (max-width:480px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-left: 100px;
        margin-top: 25px;
    }

    @media screen and (min-width:768px) {
        gap: 16px;
        flex-direction: row;
        margin-left: 89px;
        margin-top: 0;
    }

    @media screen and (min-width:1280px) {
        gap: 16px;
        flex-direction: column;
        margin-left: 217px;
        margin-top: 0;
    }

}

.section_svg {
    width: 24px;
    height: 24px;
}