.header {
  background-color: #01383a;
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
  0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
 position: relative;
  z-index: 9999;
}

.mobile.is-hidden {
    display: none;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container {
  padding: 24px 16px;
  background-color: #01383a;
 
  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}

.navigation__logo {
  width: 119px;
  height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;

  color: #ffffff;
}

.meny {
  display: none;
  @media screen and (min-width: 1279px) {
    display: flex;
    gap: 48px;
    margin-right: auto;
    margin-left: auto;
  }
}

.meny__link {
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-bottom: 1px solid #86e543;
  }
}

// .meny__link.current {

// position: relative;
// color: var(--accent-color);

// &::after {
//   content: "";

//   position: absolute;
//   left: 0;
//   bottom: 0;

//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-color);
//   border-radius: 2px;
//   // }
// }

.button__menu-open {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #86e543;

  @media screen and (min-width: 1279px) {
    display: none;
  }

  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: #ffffff;
  // }
}

.button__meny-open-icon {
  fill: currentColor;
}

.header__shop-now-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    min-width: 102px;
    height: 46px;
    padding: 16px 20px;
    background: #86e543;
    // border: transparent;
    border-radius: 16px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.03em;

    color: #000000;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }
}

.mobile {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  @media screen and (min-width: 1279px) {
    display: none;
  }
}

.mobile__container {
  margin: 0 auto;
  width: 100%;
  // padding-left: 40px;
  // padding-right: 40px;

  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  overflow: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.mobile__menu-close-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #86e543;
  border: none;
  background-color: transparent;

  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: #ffffff;
  // }
}

.mobile__menu-close-icon {
  fill: currentColor;
}

.mobile__meny-bottom {
  margin-left: auto;
  margin-right: auto;
  background-color: #001414;
  max-width: 480px;
  height: 464px;
  background-image: url(../images/melnyk/mob-menu-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/melnyk/mob-menu-background-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 888px;
    background-image: url(../images/melnyk/tab-menu-background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/melnyk/tab-menu-background-2x.jpg);
  }
}

.mobile__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 64px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
  }
}

.mobile__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #86e543;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1.18;
  }
}

// .mobile__link.current {
//   color: #86e543;
// }
