.sale {
  max-width: 768px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #043835;
  // width: 480px;
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.sale__container {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;

  @media screen and (min-width: 768px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.sale__text {
  position: absolute;
  background-image: url(/src/images/sale/sale_line_top_mob.svg),
    url(/src/images/sale/sale_line_bottom_mob.svg);
  background-repeat: no-repeat;
  background-position: top 2px left 0px, top 8px left 0px;
  background-size: cover;
  width: 100%;
  height: 63px;
  left: 0;
  top: 0;
}

.sale__title {
  margin-left: 80px;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
}

.sale__cards {
  padding-top: 64px;
  display: flex;
}





.sale__item {
  margin: 0 auto;
  max-width: 285px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 38px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 60px) / 4);
  }
}

.sale__img {
  border-radius: 12px;
  width: 284px;
  height: 276px;

  @media screen and (min-width: 768px) {
    width: 285px;
    height: 276px;
  }
}

.text__item {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  margin: 8px auto 8px 8px;
  width: 100%;
}

.sale__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
}

.sale-old-price {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;
}

.sale-new-price {
  margin-right: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
}

.sale__buton{
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  margin: 0 auto;
  margin-bottom: 44px;

  @media screen and (max-width: 768px) {
    .sale__item:nth-of-type(5),
    .sale__item:nth-of-type(6),
    .sale__item:nth-of-type(7),
    .sale__item:nth-of-type(8) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    .sale__item:nth-of-type(1) {
      order: 1;
    }

    .sale__item:nth-of-type(2) {
      order: 3;
    }

    .sale__item:nth-of-type(3) {
      order: 5;
    }

    .sale__item:nth-of-type(4) {
      order: 7;
    }

    .sale__item:nth-of-type(5) {
      order: 2;
    }

    .sale__item:nth-of-type(6) {
      order: 4;
    }

    .sale__item:nth-of-type(7) {
      order: 6;
    }

    .sale__item:nth-of-type(8) {
      order: 8;
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
    .sale__item:nth-of-type(1) {
      order: 1;
    }
  
    .sale__item:nth-of-type(2) {
      order: 2;
    }
  
    .sale__item:nth-of-type(3) {
      order: 3;
    }
  
    .sale__item:nth-of-type(4) {
      order: 4;
    }
  
    .sale__item:nth-of-type(5) {
      order: 5;
    }
  
    .sale__item:nth-of-type(6) {
      order: 6;
    }
  
    .sale__item:nth-of-type(7) {
      order: 7;
    }
  
    .sale__item:nth-of-type(8) {
      order: 8;
    }
  }
}