.container__take-order {
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }
}
.order {
  background-color: $header-background-color;
  position: relative;
}
@media screen and (max-width: $tablet) {
  .order {
    background-image: url(../images/background/mobile/frame_mobile.jpg);
  }
}
@media screen and (max-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (max-width: $tablet) and (min-resolution: 192dpi),
  screen and (max-width: $tablet) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/background/mobile/frame_mobile_2x.jpg);
  }
}
@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .order {
    background-image: url(../images/background/tablet/frame_tablet.jpg);
  }
}
@media screen and (min-width: $tablet) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/background/tablet/frame_tablet_2x.jpg);
  }
}
@media screen and (min-width: $desktop) {
  .order {
    background-image: url(../images/background/desktop/frame_desktop.jpg);
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../images/background/desktop/frame_desktop_2x.jpg);
  }
}

.order__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 56px;
    line-height: 1.18;
    padding-top: 120px;
  }
}
.product-card {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.line-Guide {
  display: block;
  max-height: 27px;
  margin-bottom: 40px;
  @media screen and (max-width: 479px) {
    margin-bottom: 24px;
    .line__mob,
    .line__tab,
    .line__desk {
      display: none;
    }
    .line__320 {
      display: block;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .line__tab,
    .line__desk,
    .line__320 {
      display: none;
    }
    .line__mob {
      display: block;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .line__mob,
    .line__desk,
    .line__320 {
      display: none;
    }
    .line__tab {
      display: block;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 48px;
    .line__mob,
    .line__tab,
    .line__320 {
      display: none;
    }
    .line__desk {
      display: block;
    }
  }
}

.hdphone-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;

  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 55px;
    line-height: calc(66 / 56);
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.hdphone-title-tabs {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;

  margin-bottom: 16px;

  @media screen and (min-width: 1px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: inherit;
    font-size: 56px;
  }
}

img {
  border-radius: 4px;
}
.big-img {
  border-radius: 12px;
}
.item-card {
  display: flex;

  @media screen and (min-width: 1px) {
    display: block;
  }

  @media screen and (min-width: $mobile) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.main-img {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.set-wrap {
  @media screen and (min-width: $mobile) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.price-block {
  display: flex;
  flex-direction: column;
  margin-left: 24px;

  @media screen and (min-width: 1px) {
    margin-left: 0;
    flex-direction: inherit;
    justify-content: space-between;
  }

  @media screen and (min-width: $mobile) {
    margin-left: 0;
    flex-direction: inherit;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 24px;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-decoration: line-through;
  color: #8d9289;
  margin-top: 69px;

  @media screen and (min-width: 1px) {
    margin-top: 0px;
  }

  @media screen and (min-width: $mobile) {
    margin-top: 0px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 69px;
  }

  @media screen and (min-width: $desktop) {
  }
}

.price-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(24 / 24);
  text-decoration: line-through;
  color: #8d9289;

  margin: 44px 0px 52px 0px;
}

.discount {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: calc(48 / 48);
  color: #86e543;
  margin-top: 24px;
  margin-bottom: 16px;

  @media screen and (min-width: 1px) {
    font-size: 32px;
    line-height: calc(32 / 32);
  }

  @media screen and (min-width: $mobile) {
    font-size: 32px;
    line-height: calc(32 / 32);
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
  }
}

.discount-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: calc(48 / 48);
  color: #86e543;

  margin: 32px 0px 40px 65px;
}

.img-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.img-set {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 121px;
  }
}

.images-block {
  @media screen and (min-width: 1px) {
    display: none;
  }

  @media screen and (min-width: $mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.text-space {
  display: flex;
}

.contact-flex {
  margin-left: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 48px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }
}

.form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: $mobile) {
    display: flex;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.container-form {
  @media screen and (min-width: $mobile) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.form__title {
  text-transform: uppercase;
  color: #86e543;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
  }
}
.form__field {
  max-width: 100%;
  margin-bottom: 10px;
}
.form__icon {
  position: absolute;
  top: 10%;
  right: 0%;
}

.form__icon_2 {
  display: none;
  position: absolute;
  top: 10%;
  right: 0%;
}

.form__item {
  &:hover,
  &:focus {
    .form__icon {
      display: none;
    }
  }
}

.form__item {
  &:hover,
  &:focus {
    .form__icon_2 {
      display: block;
    }
  }
}

.form__item {
  position: relative;
  margin-bottom: 44px;
  
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
    height: 24px;
  }

}

.form__item:last-child {
  margin-bottom: 20px;
}

.form__textarea-item {
  display: flex;
  justify-content: center;
}

.form__textarea-label {
  display: flex;
}

.hiddens {
  display: none;
}

.form__field input {
  padding-bottom: 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid #86e543;
  background-color: #01383a;

}
.form__field input::placeholder {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.form__input {
  background-color: #01383a;
  height: 28px;
  min-width: 288px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  outline: transparent;
  outline: none;
  border-bottom: 1px solid #86e543;

  @media screen and (min-width: $desktop) {
    height: 25px;
  }

  @media screen and (min-width: 1px) {
  }

  @media screen and (min-width: $tablet) {
    width: 590px;
    font-size: 18px;
    line-height: 1.11;
  }
}


.form__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #01383a;
  height: 28px;
  min-width: 288px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  outline: transparent;
  outline: none;
  border-bottom: 1px solid #86e543;
 

  @media screen and (min-width: $tablet) {
    width: 590px;
    font-size: 18px;
    line-height: 1.11;
  }
  @media screen and (min-width: $desktop) {
    height: 24px;
  }
  
}

.form__textarea { 
  display: flex;  
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 4px;

  @media screen and (min-width: $mobile) {
  }margin-top: 44px;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    margin-left: 20px;
    margin-top: 0;
  }

  // @media screen and (min-width: $desktop) {
  // display: block;
  // }
}
.form__name {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #cdcdcd;
}
textarea {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
  min-width: 287px;
  height: 95px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border: 1px solid #86e543; 
  background-color: $header-background-color;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


  @media screen and (min-width: $tablet) {
    width: 589px;
    height: 256px;
  }
  @media screen and (min-width: $desktop) {
    width: 589px;
    height: 256px;
  }
}

textarea:focus {
  outline: transparent;
}

.btn-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 120px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
